:host {
  margin: 0px;
}
.recipe {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;

  .section::after {
    content: '';
    border: 1px solid black;
    width: 100%;
  }
  .section {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    width: 150rem;
    gap: 0.5rem;

    .ingredients {
      border: 1px solid black;
      display: flex;
      justify-content: space-evenly;
      align-items: flex-start;
      flex-direction: column;
      gap: 0.5rem;

      .ingredient {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;

        .field {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          gap: 0.5rem;
        }
      }
    }

    .directions {
      border: 1px solid black;
      display: flex;
      justify-content: space-evenly;
      align-items: flex-start;
      flex-direction: column;
      gap: 0.5rem;

      .direction {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 0.5rem;
      }
    }
  }
}