@if (beingEdited()) {
  <div class="heading">
    <button type="button" class="close" (click)="close()">X</button>
    <h3>Edit Recipe:</h3>
  </div>

  <form class="recipe" [formGroup]="recipeForm" (ngSubmit)="onSubmit()">

    <div class="field name">
      <label for="name">Name: </label>
      <input type="text" formControlName="name">
    </div>

    <div class="field rating">
      <label for="rating">Rating: </label>
      <input type="number" formControlName="rating">
    </div>

    <div class="field image">
      <label for="image">Image: </label>
      <input type="file" (change)="onFileChange($event)">
      <button type="button" (click)="removeImage()">Remove Image</button>
    </div>

    <div class="sections" formArrayName="sections">
      @for (s of recipeForm.controls.sections.controls; let sIndex = $index; track sIndex) {
        <div class="section" [formGroupName]="sIndex">

          <div class="field name">
            <label for="name">Name: </label>
            <input type="text" formControlName="name">
          </div>

          <div class="ingredients" formArrayName="ingredients">
            <h4>Ingredients:</h4>
            @for (i of recipeForm.controls.sections.at(sIndex).controls.ingredients.controls; let iIndex = $index; track iIndex) {
              <div class="ingredient" [formGroupName]="iIndex">
                <div class="field quantity">
                  <label for="quantity">Quantity: </label>
                  <input type="number" formControlName="quantity">
                </div>
                
                <div class="field unit">
                  <label for="unit">Unit: </label>
                  <input type="text" formControlName="unit">
                </div>

                <div class="field name">
                  <label for="name">Ingredient: </label>
                  <input type="text" class="ingredient" formControlName="name">
                </div>
                <button class="remove" type="button" (click)="removeIngredient(sIndex, iIndex)">X</button>
              </div>
            }
            <button class="add" type="button" (click)="addIngredient(sIndex)">Add Ingredient</button>
          </div>

          <div class="directions" formArrayName="directions">
            <h4>Directions:</h4>
            @for (d of recipeForm.controls.sections.at(sIndex).controls.directions.controls; let dIndex = $index; track dIndex) {
              <div class="direction" [formGroupName]="dIndex">
                <div class="field text">
                  <label for="direction">{{dIndex + 1}}. </label>
                  <textarea class="direction" formControlName="text"></textarea>
                </div>
                <button class="remove" type="button" (click)="removeDirection(sIndex, dIndex)">X</button>
              </div>
            }
            <button class="add" type="button" (click)="addDirection(sIndex)">Add Direction</button>
          </div>

          <button class="remove" type="button" (click)="removeSection(sIndex)">X</button>
        </div>
      }
    </div>
    <button class="add" type="button" (click)="addSection()">Add Section</button>

    <button class="submit" type="submit">Submit</button>
  </form>
}