:host {
  // sticky heading
  .heading {
    position: sticky;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 3rem;
    z-index: 100;

    display: flex;
    justify-content: center;

    border-block-end: 1px solid black;
    background-color: white;
    button {
      position: absolute;
      top: 0.25rem;
      left: 0.25rem;
    }
  }

  // general
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  max-height: 100%;
  min-height: 7.5rem;
  width: 100%;
  background-color: white;
  border: 1px solid black;

  .recipe {
    // general 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    padding-block: 1rem;
    gap: 1rem;

    // general for all children
    * {
      margin: 0px;
    }
    // general for immediate children
    > * {
      width: 100%;
    }

    // max-width buttons
    .add,
    .section > .remove {
      width: 100%;
    }

    // directions and non-ingredient fields
    .direction,
    .field:not(.instruction .field) {
      width: 100%;
      display: flex;
      align-items: baseline;
      gap: 0.5rem;
      flex: 1 1 0;

      input {
        flex: 1;
      }
      textarea {
        flex: 1;
        resize: vertical;
      }
    }

    .sections {
      // separating line
      .section:first-of-type::before,
      .section::after {
        content: '';
        display: inline-block;
        border: 0.5px solid black;
        width: 100%;
        height: 0%;
      }
      .section:first-of-type::before {
        margin-block-end: 0.5rem;
      }
      .section::after {
        margin-block-start: 0.5rem;
      }
      .section:not(:last-of-type)::after {
        margin-block-end: 1rem;
      }

      // individual sections
      .section {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 0.5rem;

        // directions and ingredients groupings
        .directions,
        .ingredients {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
        }

        .ingredient {
          display: flex;
          width: 100%;
          gap: 0.5rem;
          flex: 1 1 0;
          align-items: stretch;
          
          button {
            height: 50%;
          }

          .field {
            display: flex;
            flex-direction: column;
            align-items: center;
            label {
              text-align: center;
            }
            input {
              box-sizing: border-box;
              width: 100%;
            }
          }
          .field:nth-of-type(1) { // quantity
            flex: 1;
          }
          .field:nth-of-type(2) { // unit
            flex: 2;
          }
          .field:nth-of-type(3) { // name
            flex: 6;
          }
        }
      }
    }
  }
}