:host {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;

  border: 1px solid black;
  width: 100%;

  * {
    margin: 0px;
  }

  app-recipe-edit-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 60vw;
    background-color: white;
    border: 1px solid black;
    max-height: 85vh;
  }
}