:host {
  // general
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  border: 1px solid black;

  // general for all children
  * {
    margin: 0px;
    width: 100%;
  }

  > h4 {
    text-align: center;
  }
  > button {
    width: 100%;
  }

  .heading {
    position: relative;
    height: 1.5rem;
    > * {
      position: absolute;
      width: fit-content;
    }
    button {
      top: 0%;
      left: 0%;
    }
    .name {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .rating {
      top: 50%;
      right: 0%;
      transform: translate(0%, -45%);
    }
  }

  // edit popup
  app-recipe-edit-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;

    width: 60vw;
    max-height: 85vh;
  }
}

// placeholder for image that didn't load
.image-error {
  width: 100%;
  aspect-ratio: 1 / 1;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
}

button, 
.clickable {
  cursor: pointer;
}