:host {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  app-recipe-card {
    width: 45%;
  }

  .recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  app-recipe-thumbnail,
  .add {
    width: 45%;
  }
  .add {
    aspect-ratio: 1 / 1;
    font-size: 5rem;
    font-weight: 100;
    background-color: lightgrey;
    border: 1px solid black;
    transition: background-color 0.2s ease;
  }
  .add:hover {
    background-color: color-mix(in srgb, lightgrey, white 30%);
  }

  button, 
  .clickable {
    cursor: pointer;
  }
}