:host {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  app-recipe-card {
    width: 45%;
  }

  .recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  app-recipe-thumbnail {
    width: 45%;
  }

  button, 
  .clickable {
    cursor: pointer;
  }
}